body {
    background-color: aquamarine;
    color: rgb(18, 66, 163);
}

#navbar {
   display:flex;
   flex-direction:column;
   height: 80vh;
   text-wrap:wrap;
   width:200px;
   position:fixed;
   gap: 45px;
   margin-left: 20px;
   border:10px solid black;
   padding: 15px;
   background-color: chartreuse;
   overflow:hidden;
}

header {
   color:black
}

ol {
    display:flex;
    flex-direction: column;
    gap:10px;
}

main {
    margin-left: 330px;
}

#main-doc {
    display:flex;
    flex-direction: column;
    gap: 10px;

}

#main-doc header {
    font-size: 30px;
    text-align: center;
}

a {
    font-weight: bold;
}

img {
    width:300px;
}

p {
    margin-top: 40px;
}

section {
    border:10px solid black;
    height: 560px;
}

@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0px 30px;
        
    }
}